.container {
    border: black 0.5vh solid;
    float: left;
    display: block;
    width: 15%;
    height: vmax;
    position: sticky;
    margin-left: -12vw;
    margin-right: 1vw;
    top: 2vh;
}

.container div {
    text-align: center;
}
