.cont {
    width: 100%
}

.cont p {
    display: flex;
    justify-content: center;
    padding-top: 1vh;
    margin-bottom: 3vh;
}

.spacerTop {
    margin: auto;
    width: 80%;
    border: 0.5vh black solid;
    background-color: black;
    margin-top: 5vh;
}

.spacerBottom {
    margin: auto;
    width: 80%;
    height: 100px;
    background-color: white;
    border: none;
}