.container {
    padding: 0 2rem;
    display: inline-flex;
    width: 100%;
    margin-top: 2vh;
    height:100%;
}

.mainContent {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.posts {
    position: static;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.postSerriesHeading {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .posts {
        display: grid;
        grid-template-columns: 1fr;
    }
}
