.container {
    padding: 0 2rem;
    display: inline-flex;
    width: 100%;
    margin-top: 2vh;
    height:100%;
}

.mainContent {
    display: inline-block;
    width: 100%;
}

.posts {
    position: static;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

@media screen and (max-width: 780px) {
    .posts {
        position: static;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

