.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #e4112d;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: double underline;
  color: #e41111c4;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.jumper {
  border-radius: 15px;
}

.jumper a li {
  background: #c9c9c9;
  border-radius: 5px;
  list-style: none;
  height: 64px;
  width: 25vw;
  text-align: center;
  font-size: 3vh;
  padding-top: 12px;
  margin: 10px 0 10px 0;
}

.jumper a li:hover,
.jumper a li:focus,
.jumper a li:active {
  background: #d6d6d6;
}
