.Article {
    width: 75%;
    margin: 0 12.5%;
    padding: 1vh 2vw;
}

.Article h1 {
    text-align: left;
}

.Article code {
    padding: 0.25vh 0.25vw;
    border-radius: 0.5vh;
    /*background-color: grey;*/
}

.goBackButton {
    margin-top: 5vh;
    width: 100%;
    height: 50px;
    background-color: #9bf490;
    border: none;
    display: flex;
    justify-content: center;
}

.goBackButton a {
    padding: 12.5px 0;
}
