.Article {
    width: 75%;
    margin: 0 12.5%;
    border: 3px black solid;
    padding: 1vh 2vw;
}

.Article h1 {
    text-align: center;
}

.Article code {
    padding: 0.25vh 0.25vw;
    border-radius: 0.5vh;
    /*background-color: grey;*/
}

