.container {
    padding: 0 2em;
    width: 100%;
    max-height: 75px;
    position: fixed;
    bottom: 0;
}

@media screen and (min-width: 780px) {
    .container {
        display: none;
    }
}

.navi {
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px 30px 0 0;
    background-color: #3b9433;
}

.navi a {
    aspect-ratio: 1/1;
    width: 10vh;
    min-width: 80px;
    max-width: 100px;
    height: auto;
    border-radius: 30px;
    text-align: center;
    font-size: large;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

.navi a p {
    padding-top: 10%;
}

