.container {
    padding: 0 2em;
}

.topspace {
    height: 2vh;
}

@media screen and (min-width: 780px) {
    .topspace {
        display: none;
    }
}

.bannerBar {
    height: 16vh;
    width: 100%;
    min-height: 60px;
    max-height: 130px;
    background-color: #adadad;
    border-radius: 40px;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 1vw;
}

.bannerImage {
    background-color: #505050;
    border-radius: 40px;
}
.bannerImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerImage a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 1vw;
    text-decoration: none;
}

.bannerImage a img {
    height: 14vh;
    min-height: 50px;
    max-height: 100px;
    width: auto;
    border-radius: 100px;
}

.bannerImage a h2 {
    color: rgb(74, 221, 29);
    margin: auto 1vw;
    font-size: 2rem;
}

.navi {
    margin: auto;
    margin-right: 3vw;
}

.navi a {
    width: 10vw;
    height: 7vh;
    min-width:150px;
    min-height:100px;
    padding: 2vh 2vw;
    background-color: aquamarine;
    text-decoration: none;
    font-size: 1.25rem;
}

.navi a:hover {
    background-color: #7fff90;
    cursor: pointer;
}

@media screen and (max-width: 780px) {
    .navi {
        display: none;
    }

    .bannerBar {
        background: transparent;
        min-height: unset;
        min-width: unset;
        display:initial;
        margin: none;
        height: 90px;
        width: 90px;
    }

    .bannerImage {
        border-radius: 20px;
        min-height: unset;
        min-width: unset;
        height: 80px;
        width: 80px;
    }

    .bannerImage a img {
        border-radius: 20px;
        min-height: unset;
        min-width: unset;
        height:70px;
    }

    .bannerImage a h2 {
        display: none;
    }
}
