.container {
    padding: 0 2em;
}

.banner div {
    height: 14vh;
    width: 100%;
    background-color: #adadad;
    border-radius: 1.5vw;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
}

.banner {
    border: black 0.6vh solid;
    border-radius: 2vw;
    background-color: black;
}

.banner div a div {
    background-color: #505050;
}

.banner div a div img {
    width: 12vh;
    height: 12vh;
    border-radius: 3vw;
    margin-left: 1.5vw;
    margin-top: 1vh;
}

.banner div a div h1 {
    color: rgb(74, 221, 29);
    padding-left: 1.5vw;
    margin-right: 1vw;
    padding-top: 1.75vh;
}

.navi {
    padding-top: 3.6vh;
}

.navi button {
    width: 10vw;
    height: 6vh;
    margin-right: 1vw;
    background-color: aquamarine;
    border: black 0.5vh solid;
    font-size: 1rem;
    border-radius: 1.5vw;
}

.navi button:hover {
    background-color: #7fff90;
    cursor: pointer;
}
